
        <div class="pages">                      <!-- about strats here  -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 left" id="about_left">
                        <img class="img-responsive img-dreamer" src="images/about.jpg">
                    </div>

                    <div class="col-md-6 right" id="about_right">
                        <a href="index.html" class="btn btn-dreamer back"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back to home </a>
                        <div id="watermark">
                            <h2 class="page-title" text-center>A little <strong style="color:#F1C40F;">about</strong> me</h2>
                            <div class="marker">a</div>
                        </div>
                        <p class='subtitle'>Born in Saigon, Vietnam, and based in San Francisco.
                        </p>
                        <p class="info">
                          I am a brand new Grad Student with major is
                          International Business on May 2018 and have been working in the Education field since 2015, but my love of
                          web/apps design dates back to 2016. After years of systems administrion, I decided it was time to pursue a
                          new challenge, and a career change to front end development was made. In September I became a Fall cohort
                          at Kickstart Coding, and is on schedule to complete my studied. I now spends my days writing HTML,
                          CSS, Bootstrap, Python 3 with future to learn Full Stack completely
                          <br/>
                            - The blog started as my very first project on my way learn the sweetbitter non-human languages and is an
                          online collection of articles about my love for technology, travel, fashion, entrepreneur and life as well.
                          Having studied International Business at Lincoln University, I seek to build a reading community that is
                          equally excited about my passions.
                          <br/>
                            - The blog marries my pursuit of creating quality reading content with my love for photography.
                          And it is my hope that the resulting images and articles on this blog capture world perfectly
                          - affectionate, familial, and above all.
                        </p>
                    </div>
                </div>
            </div>
        </div>                                                                <!-- About ends here -->

    </body>
