
                        <div id="index">                                           <!-- Index starts here -->
                            <div class="container main">
                                <div class="row home">
                                    <div id = "index_left" class="col-md-6 left">
                                        <img class="img-responsive img-dreamer" src="images/home.jpg">
                                    </div>
                                    <div id = "index_right" class="col-md-6 text-center right">
                                        <div class="logo">
                                            <img src="images/logo.png">
                                            <h4>I am a dreamer</h4>
                                        </div>
                                        <p class="home-description">
                                            Hi, I am Annie, Web developer on training in the Bay Area, US. I am passionate about photography, development and interaction. I really love what I do.
                                        </p>
                                        <div class="btn-group-vertical custom_btn animated slideinright">
                                            <div id="about" class="btn btn-dreamer">About</div>
                                            <div id="work" class="btn btn-dreamer">Work</div>
                                            <div id="contact" class="btn btn-dreamer">Contact</div>
                                        </div>
                                        <div class="social">
                                            <a href="https://www.linkedin.com/in/anniept/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            <a href="https://www.instagram.com/__pianne/?hl=vi"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                            <a href="https://www.facebook.com/Anieept"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="https://www.pinterest.com/Anieept/"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                      </div>


                        <div id="scroll-about" class="pages ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 left" id="about_left">
                                        <div id="watermark">
                                            <h2 class="page-title" text-center>The<strong style="color:#F1C40F;">Debut</strong></h2>
                                            <div class="marker">t</div>
                                        </div>
                                        <p class='subtitle'>This blog has been a long time coming.
                                        </p>
                                        <div class="info">
                                          <p><strong>Ironically, I got"forced" into it, blogging was seen as platform for me to connect
                                          with new non-human languages of technology era at Kickstart. Wish me luck with my first project ever fams ^_^.</strong>
                                        </p>

                                          <p><strong><i class="fa fa-heart-o" aria-hidden="true"></i>  I've been moving in the Bay Area for college for about five years now, and while I've studied Master of
                                          Business Administrion, they are so many thoughts about how to dive in technology, design and photography
                                          industry that are simply visit me everyday..</strong></p>

                                          <p><strong><i class="fa fa-heart-o" aria-hidden="true"></i> My whole life I have felt as though my brain has been filled with more ideas than anyone could handle.
                                          I am passionate about far too many things and it can feel like my mind is one eclectic mess. I simply have not yet accumulated enough knowledge about the world, in order
                                          to fully express myself to the extent I so desperately wish to. With all these thoughts, ideas and passions I decided
                                          I needed a medium to express myself…and so be it, here we are.</strong></p>

                                          <p><strong>Please excuse the amateur layout for the time being; it will take me a couple months or so to get my footing. But don't lose faith!
                                          I promise regular updates and fabulous photos eventually.</strong>
                                        </p>
                                        <a href="index.html" class="btn btn-dreamer back"> <i class="fa fa-angle-up" aria-hidden="true"></i> Up to Top </a>
                                      </div>
                                    </div>
                                  <div class="col-md-6 right" id="about_right">
                                    <img class="img-responsive img-dreamer" src="images/IMG_4075.jpg">
                                    <img class="img-responsive img-dreamer" src="images/IMG_4074.jpg">
                                 </div>
                              </div>
                            </div>
                          </div>

</body> <!-- index ends here -->
