<div class="pages">                                  <!-- Work starts here -->
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="work_left">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><img class="img-responsive img-dreamer" src="images/work.jpg"></div>

                </div>
            </div>

            <div class="col-md-6" >
                <a href="index.html" class="btn btn-dreamer back"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Home </a>
                <div id="watermark">
                    <h2 class="page-title" text-center>Work</h2>
                    <div class="marker">w</div>
                </div>
                <p class='subtitle'>This is a selection of what I do on my career. I've been involve in many different types of project.</p>
                <p><h4 class="page-tille" text-center>Cohort @ Kick Start Coding</h4></p>
                <p><h4 class="page-tille" text-center>Assistant Register of Lincoln University</h4></p>
                <p><h4 class="page-tille" text-center>Assistant Director of Focus Group Holdings</h4></p>
                <p><h4 class="page-tille" text-center>Freelance Photographer</h4></p>
            </div>
        </div>
    </div>
</div>
</body>
